/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html, body {
    height: 100%
}

body {
    text-align: center;
}

.container {
    min-height: 100%;
    width: 90%;
    max-width: 670px;
}

@media (max-width: 450px) {
    .container {
        width: 100%;
        padding-top: 30px;
    }
}

.photo img {
    width: 180px;
    border-radius: 50px;
}

h1 {
    font-size: 28px;
}

h2 {
    font-size: 20px;
}

.description {
    width: 90%;
    margin: 0 auto;
}

.logos img {
    margin-right: 20px;
    width: 50px;
}

.logos a:last-child img {
    margin-right: 0;
}

.logos, .description, .function, .photo {
    margin-bottom: 30px;
}
