html, body {
    height: 100%;
    margin: 0;
}

body {
    text-align: center;
    font-family: -apple-system, BlinkMac
        SystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
        'Helvetica Neue', sans-serif;
}

.centered-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100%;
}

.content {
    max-width: 670px;
    padding: 30px;
}

.photo img {
    width: 200px;
    border-radius: 30px;
}

h1 {
    font-size: 28px;
}

h2 {
    font-size: 20px;
}

.description {
    width: 90%;
    margin: 0 auto;
}

.logos img {
    margin-right: 20px;
    width: 50px;
}

.logos a:last-child img {
    margin-right: 0;
}

.description, .function, .photo {
    margin-bottom: 30px;
}

a {
    text-decoration: none;
}
