/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html, body {
    height: 100%
}

body {
    text-align: center;
}

.container {
    width: 90%;
    max-width: 670px;
}

.photo img {
    width: 180px;
    border-radius: 50px;
}

h1 {
    font-size: 28px;
}

h2 {
    font-size: 20px;
}

.description {
    width: 80%;
    margin: 0 auto;
}

.logos img {
    margin-right: 20px;
    width: 50px;
}

.logos a:last-child img {
    margin-right: 0;
}

.contact-button-image, .logos, .description, .function, .photo {
    margin-bottom: 30px;
}
